<div>
  <%= form_for @topic do |f| %>
    <% if @topic.errors.any? %>
      <div style="color: red">
        <h3>
          <%= pluralize(@topic.errors.count, "error" ) %> prohibited this topic from being saved:
        </h3>
        <ul>
          <% @topic.errors.full_messages.each do |msg| %>
            <li>
              <%= msg %>
            </li>
            <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.submit %>
    </div>
  <% end %>
</div>