<div>
  <h1>Editar Tópico</h1>
  <%= form_for @topic do |f| %>
    <% if @topic.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>
        <ul>
          <% @topic.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= render partial: "form", locals: { f: f } %>
  <% end %>
</div>

<div>
  <%= link_to "Voltar" , topics_path %>
</div>
