<div>
  <h1>Topics</h1>
  <ul>
    <% @topics.each do |t| %>
      <li><%= render t %> <%= link_to "visualizar", t %> <%= link_to "editar", edit_topic_path(t) %> <%= link_to "apagar", t, method: :delete, data: { confirm: "Are you sure?" } %></li>
    <% end %>
  </ul>
  <%= link_to "Novo Tópico", new_topic_path %>
</div>