<div>
  <% if notice.present? %>
    <h4 style="color: green"><%= notice %></h4>
    <% end %>
</div>
<div>
  <h1>Topics</h1>
  <ul>
    <% @topics.each do |t| %>
      <li>
        <%= render t %>
        <%= link_to "visualizar", t %>
        <%= link_to "editar", edit_topic_path(t) %>
        <%= link_to "apagar", t, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </li>
    <% end %>
  </ul>
  <%= link_to "Novo Tópico", new_topic_path %>
</div>