<div>
  <% if notice.present? %>
    <h4 style="color: green"><%= notice %></h4>
  <% end %>
</div>
<div>
  <h1><%= @topic.title %></h1>
</div>

<div>
  <%= link_to "Voltar" , topics_path %> <%= link_to "Editar" , edit_topic_path(@topic) %>
</div>
<div>
  <%= button_to "Remover tópico", @topico, method: :delete, data: { turbo_confirm: "Tem certeza?" } %>
</div>